# Uygulama
APP_SECRET_KEY=sizin-uzun-şifreniz
APP_PORT=8000
APP_ENV=development

# JWT
JWT_EXPIRY_HOURS=24

# Veritabanı
DB_PATH=./dpp.db

Admin Seed (Doldurmazsanız otomatik atanır)
ADMIN_EMAIL=admin@passportx.com
ADMIN_PASSWORD= (Doldurmazsanız otomatik atanır)
